h1  {
        color: #FCA205;
        font-size: 36pt;
        font-family: 'Lobster';
    }

body {
    padding-left: 15px;
}

 .page-header {
        background-color: #ff9400;
        margin-top: 0;
        padding: 20px 20px 20px 40px;
    }

    .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
        color: #ffffff;
        font-size: 36pt;
        text-decoration: none;
    }

    .content {
        margin-left: 40px;
    }

    h1, h2, h3, h4 {
        font-family: 'Lobster', cursive;
        font-size: 40pt;
    }

    .date {
        float: right;
        color: #828282;
    }

    .save {
        float: right;
    }

    .trashes-form textarea, .trashes-form input {
        width: 50%;
    }

    .top-menu, .top-menu:hover, .top-menu:visited {
        color: #ffffff;
        float: right;
        font-size: 26pt;
        margin-right: 20px;
    }

    .trashes {
        margin-bottom: 70px;
    }

    .trashes h1 a, .trashes h1 a:visited {
        color: #000000;
    }

    p {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 25pt;
   }

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
}

.container_content {
    height: 420px;
    overflow: scroll;
}