{% extends 'base.html' %}
{% block site_title %} 404 {% endblock %}
{% block site_content %}
<body>
    {% load staticfiles %}
    <a href="/"><img src="{% static 'img/404.png' %} " style="display: block; width: 100%; height: 100%; object-fit: cover;"></a>
</body>
{% endblock %}