<!-- About template use to render and display information about creator and project -->
{% extends 'base.html' %}
{% load i18n %}
{% block site_title %} About {% endblock %}
{% block site_content %}
       {% load staticfiles %}
      <link rel="stylesheet" type="text/css" media="all" href="http://eighthourday.com/_/css/master.css">
      <link rel="stylesheet" type="text/css" media="all" href="http://eighthourday.com/_/css/ie10.css">

      <div class="content inner">
         <div class="grid__cards">
            <div class="page_header">
               <h1 class="underline"><span>Welcome</span></h1>
               <h2>{% trans "We were student's of BSUIR and &nbsp;that" %}&nbsp;<br>{% trans 'it our project Trashes Controler' %}</h2>
            </div>
            <div class="grid__row">
                <div>

                </div>
            </div>
            <div class="grid__row gridcol__inline">
               <div class="gridcol grid-feature">
                  <div class="gridcol__outer">
                     <div class="gridcol__inner grid-styles" data-bkgcolor="#ffffff" data-txtcolor="#00000" style="background-color: rgb(255, 255, 255);">
                        <div class="gridcol__body">
                           <p class="largetxt">
                            {% trans "Hi! It's student's project made by Alex Stresh. Trashes Controler help you to organise your work with a great amount of your trashes. You can use different trashes for different tasks. Move to Trash and restore different fiels and dirs. If you have any questions read Help manual or you can contact us." %}
                        </div>
                     </div>
                  </div>
               </div>
               <div class="gridcol" data-width="slim">
                  <div class="gridcol__btm">
                     <a href="https://www.bsuir.by/">
                         <img src="{% static 'img/bsuir_logo.png' %}" class="responsive">
                     </a>
                  </div>
                   <div class="gridcol__top">
                     <a href="http://fksis.bsuir.by/">
                         <img src="{% static 'img/Ksis_logo.png' %}">
                     </a>
                  </div>
               </div>
            </div>
            <div class="grid__row">
               <div class="gridcol grid-feature" data-width="slim">
                  <div class="gridcol__outer" style="left:0">
                     <div class="studio_information">
                        <p><span class="underline"><span>+375 29 796 32 97</span></span><br><br><span class="underline"><span>{% trans '6 P. Brovki Street, Minsk 220013 Belarus' %}</span></span></p>
                        <div class="studio_social">
                           <p class="underline"><span>{% trans 'CONNECT' %}</span></p>
                           <div class="social_icons">
                               <a href="https://twitter.com/AlStresh" class="icon twitter">Twitter</a>
                               <a href="https://vk.com/astresh" class="icon facebook">Facebook</a>
                               <a href="https://instagram.com/homier_1" class="icon instagram">Instagram</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="gridcol">
                  <div class="gridcol__outer">
                        <img src="{% static 'img/map.jpg' %}">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <footer class="footer">
         <div class="inner">
            <div class="column">
               <div class="column_block">
                  <ul>
                     <li class="title">{% trans 'Connect' %}</li>
                     <li><a href="https://twitter.com/AlStresh" class="external" target="_blank">Twitter</a></li>
                     <li><a href="https://vk.com/astresh" class="external" target="_blank">Facebook</a></li>
                     <li><a href="https://www.instagram.com/em3rkof/" class="external" target="_blank">Instagram</a></li>
                  </ul>
               </div>
               <div class="column_block">
                  <ul>
                     <li class="title">{% trans 'Contact' %}</li>
                     <li class="address">{% trans '6 P. Brovki Street, Minsk 220013 Belarus' %}
                     </li>
                     <li>+375 29 796 29 32 </li>
                  </ul>
               </div>
            </div>
            <div class="column">
               <p>© 2015 – 2017 {% trans 'BSUIR ISP' %}</p>
            </div>
         </div>
      </footer>
{% endblock %}