<!-- Add_trash template use to render and display form with fields to add trash to db -->
{% extends 'base.html' %}
{% load i18n %}
{% block site_title %}{{ page_name }}{% endblock %}
{% block site_content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
<div class="container">
   <div class="row main">
      <div class="panel-heading">
         <div class="panel-title text-center">
            <h1 class="title">{{ page_name }}</h1>
            <hr/>
         </div>
      </div>
      <div class="main-login main-center">
         <form class="form-horizontal" method="post" action="">
            {% csrf_token %}
            <div class="form-group">
               <label for="name" class="cols-sm-4 control-label">{% trans 'Path To Trash' %}</label>
               <div class="cols-sm-10">
                  <div class="input-group">
                     <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                     {{ form.path_to_trash }}
                  </div>
               </div>
               {{ form.path_to_trash.errors }}
            </div>
            <div class="form-group">
               <label for="email" class="cols-sm-4 control-label">{% trans 'Max Size' %}</label>
               <div class="cols-sm-10">
                  <div class="input-group">
                     <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                     {{ form.trash_max_size }}
                  </div>
               </div>
               {{ form.trash_max_size.errors }}
            </div>
            <div class="form-group">
               <label for="password" class="cols-sm-4 control-label">{% trans 'Max Count' %}</label>
               <div class="cols-sm-10">
                  <div class="input-group">
                     <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                     {{ form.trash_max_count }}
                  </div>
               </div>
               {{ from.trash_max_count.errors }}
            </div>
            <div class="form-group">
               <label for="confirm" class="cols-sm-4 control-label">{% trans 'Max Hours' %}</label>
               <div class="cols-sm-10">
                  <div class="input-group">
                     <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                     {{ form.trash_max_hours }}
                  </div>
               </div>
               {{ form.trash_max_hours.errors }}
            </div>
            <div class="form-group ">
               <button type="submit" class="btn btn-primary btn-lg btn-block login-button">{% trans 'Add' %}</button>
            </div>
         </form>
      </div>
   </div>
</div>
{% endblock %}
