<!-- Base template use like basis to other templates -->
<!DOCTYPE html>
{% load i18n %}
{% load bootstrap3 %}
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{% block site_title %} Site Title {% endblock %}</title>
   {% load staticfiles %}
   <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
   <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
   <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
   {% block site_header %}
   <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="fa fa-trash-o"></i> Trashes Controler</a>
         </div>
         <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
               <li class="active"><a href="{% url 'open_help_page' %}">Help</a></li>
               <li><a href="{% url 'open_about_page' %}"><i class="fa fa-magic">About</i></a></li>
               {% if username %}
               <li><a href="/logout/">{% trans 'Logout' %}({{ username }})</a></li>
               <li><a href="{% url 'render_user_cabinet' %}"><i class="fa fa-server"></i></a></li>
               {% else %}
               <li><a href="/login/">{% trans 'Login' %}</a></li>
               {% endif %}
            </ul>
         </div>
      </div>
   </div>

   {% endblock %}
   {% block site_content %}
   <div id="headerwrap">
      <div class="container"></div>
   </div>
   {% endblock %}
   <script src="{% static 'js/jquery.min.js' %}"></script>
   <script src="{% static 'js/bootstrap.min.js' %}"></script>
   <script src="{% static 'js/main.js' %}"></script>
   <script src="{% static 'js/jquery.js' %}"></script>
</body>
</html>
