{% extends 'base.html' %}
{% load i18n %}
{% block site_title %} Change Password {% endblock %}
{% block site_content %}
{% load staticfiles %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<!-- Website CSS style -->
<link rel="stylesheet" href="{% static 'css/register.css' %}">
<!-- Website Font style -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
<div class="container">
   <div class="row main">
      <div class="panel-heading">
         <div class="panel-title text-center">
            <h1 class="title">{% trans 'Change Password' %}</h1>
         </div>
      </div>
      <div class="main-login main-center">
         <form class="form-horizontal" method="post">
            {% csrf_token %}
            <div class="form-group">
               <label for="name" class="cols-sm-4 control-label">{% trans 'Old Password' %}</label>
               <div class="cols-sm-10">
                  <div class="input-group">
                     <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                     {{ form.old_password }}
                  </div>
               </div>
               {{ form.old_password.errors }}
            </div>
            <div class="form-group">
               <label for="email" class="cols-sm-4 control-label">{% trans 'Old Password' %}</label>
               <div class="cols-sm-10">
                  <div class="input-group">
                     <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                     {{ form.new_password1 }}
                  </div>
               </div>
               {{ form.new_password1.errors }}
            </div>
            <div class="form-group">
               <label for="password" class="cols-sm-4 control-label">{% trans 'Conforim Password' %}</label>
               <div class="cols-sm-10">
                  <div class="input-group">
                     <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                     {{ form.new_password2 }}
                  </div>
               </div>
               {{ form.new_password2.errors }}
            </div>
            <button type="submit">{% trans 'Change' %}</button>
         </form>
      </div>
   </div>
</div>
{% endblock %}
