{% extends "base.html" %}
{% load trash_extras %}
{% load i18n %}
{% block site_title %} {{ title }} {% endblock %}
{% block site_content %}
  <form method="post">
    <div class="content container">
   <div class="row">
    <div class="col-lg-12">
            {% csrf_token %}
            <div class="filetree">
            <h2> Delete Files:
                <input type="text" name="regex" placeholder="Input regular exp">
                <button class="btn btn-primary" type="submit" style="width: 135px; height: 41px; margin-top: -6px">
                    <span class="glyphicon glyphicon-trash">{{ btn_name }}</span>
                </button>
                <input type="checkbox" name="dry-run" value="{{ True }}" > Dry Run <Mode></Mode>
            </h2>

            {% for key, value in dir_context.items %}
                {% if value %}
                  <div class="dir">
                    <button class="expander" type="button" name="{{ key }}" value="+">+</button>
                    <input type="checkbox" name="{{ key }}" value="{{ key }}">
                      <label for="{{ key }}"><i class="fa fa-folder" aria-hidden="true">{{ key | get_file_name }}</i></label>
                  </div>
                {% else %}
                    <div class="file">
                        <input type="checkbox" value="{{ key }}" name="{{ key }}">
                        <label for="{{ key }}"><i class="fa fa-file" aria-hidden="true"> {{ key | get_file_name }}</i></label>
                    </div>
                {% endif %}
            {% endfor %}

          </div>
    </div>
{#    <div class="col-lg-4">#}
{#           <div class="col-md-3 center-block" >#}
{#             <div class="btn-group-vertical" role="group">#}
{#                 <button class="btn btn-primary" type="submit" style="margin-top: 35px"><span class="glyphicon glyphicon-trash"> {{ btn_name }} </span></button>#}
{#             </div>#}
{#           </div>#}
{#    </div>#}
   </div>
  </div>
  </form>
{% endblock %}