<!-- Help template use to render and display information about how to use project -->
{% extends 'base.html' %}
{% block site_title %} Help {% endblock %}
{% block site_content %}
       {% load staticfiles %}
      <link rel="stylesheet" type="text/css" media="all" href="http://eighthourday.com/_/css/master.css">
      <link rel="stylesheet" type="text/css" media="all" href="http://eighthourday.com/_/css/ie10.css">

      <div class="content inner">
         <div class="grid__cards">
            <div class="page_header">
               <h1 class="underline"><span>Help Page</span></h1>
            </div>

             <div class="grid__row gridcol__inline">
               <div class="gridcol grid-feature">
                  <div class="gridcol__outer">
                     <div class="gridcol__inner grid-styles" data-bkgcolor="#ffffff" data-txtcolor="#00000" style="background-color: rgb(255, 255, 255);">
                        <div class="gridcol__body">
                           <p class="largetxt">
                               <b>1. Add Trash</b>
                            <br> - If you want to add trash push red button "Plus" near the 'Available Trashes'
                               <br> - After that you can see page with fields that need to write in. Be careful when filling in the field 'Path to Trash': path should be <b>valid</b> and <b>not system</b>
                               <br><p><b>Field Designation:</b>
                            <br> <b>- Path To Trash:</b> absolute path to your trash in your system, you will use this path to create your trash and delete files in this trash
                            <br> <b>- Max Size/Count:</b> Max size/count of files that trash can stole, if trash is over - you need to clean this trash, if you want to use this trash next time.
                            <br> <b>- Max Hours:</b> hours that trash will keep files, and then, if 'Delete by policy' is active - delete old files from trash
                        </p>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="gridcol" data-width="slim">
                  <div class="gridcol__btm">
                         <img src="{% static 'img/1a.jpg' %}" class="responsive">
                  </div>
                   <div class="gridcol__top">
                         <img src="{% static 'img/1b.jpg' %}" class="img-responsive">
                  </div>
               </div>
             </div>

             <div class="grid__row gridcol__inline">
               <div class="gridcol grid-feature">
                  <div class="gridcol__outer">
                     <div class="gridcol__inner grid-styles" data-bkgcolor="#ffffff" data-txtcolor="#00000" style="background-color: rgb(255, 255, 255);">
                        <div class="gridcol__body">
                           <p class="largetxt">
                               <b>2. Trash Details/Edit Trash Settings</b>
                               <br> - If you want to see trash details, such as 'Files that trash keep', 'Trash Settings' or use trash <b>action</b> push button "Details" near the current trash
                               <p class="largetxt"><br> After that you can see this trash in details:
                            <br> - You can <b>edit</b> trash settings use button <b>'Edit Settings'</b>
                            <br> - If you want to see files that trash keep - use button <b>'Trash Content'</b>
                        </p>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="gridcol" data-width="slim">
                  <div class="gridcol__btm">
                         <img src="{% static 'img/2a.jpg' %}" class="responsive">
                  </div>
               </div>
             </div>

             <div class="grid__row gridcol__inline">
               <div class="gridcol grid-feature">
                  <div class="gridcol__outer">
                     <div class="gridcol__inner grid-styles" data-bkgcolor="#ffffff" data-txtcolor="#00000" style="background-color: rgb(255, 255, 255);">
                        <div class="gridcol__body">
                           <p class="largetxt">
                               <b>3. Delete Trash/ Delete Files</b>
                               <br> - If you want to delete Trash - use button near the current trash
                               <br> - To delete files: go to Details and on Menu use button 'Delete Files'(Details -> Delete Files)
                               <br> After that you can see Files on your computer, you can chose files and go into dirs. Push button 'Delete' to Confirm files for deleting
                                <br><p><b> - Status:</b> this field shows if the trash is available( if not - you can't use this trash)</p>
                           </p>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="gridcol" data-width="slim">
                  <div class="gridcol__top">
                         <img src="{% static 'img/3a.jpg' %}">
                  </div>
                   <div class="gridcol__btm">
                         <img src="{% static 'img/3b.jpg' %}" class="img-responsive">
                  </div>
               </div>
             </div>

             <div class="grid__row gridcol__inline">
               <div class="gridcol grid-feature">
                  <div class="gridcol__outer">
                     <div class="gridcol__inner grid-styles" data-bkgcolor="#ffffff" data-txtcolor="#00000" style="background-color: rgb(255, 255, 255);">
                        <div class="gridcol__body">
                           <p class="largetxt">
                               <b>4. Restore Files</b>
                               <br> - To restore files: go to Details and on Menu use button 'Restore Files'(Details -> Restore Files)
                                <br> - On the form you can chose files from trash that want to restore
                               <br> You also need to chose <b>Restoring mode:</b>
                               <br> 1) Restore with Replacement
                               <br> 2) Restore without Replacement
                           </p>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="gridcol" data-width="slim">
                  <div class="gridcol__top">
                         <img src="{% static 'img/4a.jpg' %}" class="img-responsive">
                  </div>
                   <div class="gridcol__btm">
                         <img src="{% static 'img/4b.jpg' %}" class="img-responsive">
                  </div>
               </div>
             </div>

         </div>
      </div>

      <footer class="footer">
         <div class="inner">
            <div class="column">
               <div class="column_block">
                  <ul>
                     <li class="title">Connect</li>
                     <li><a href="https://twitter.com/AlStresh" class="external" target="_blank">Twitter</a></li>
                     <li><a href="https://vk.com/astresh" class="external" target="_blank">Facebook</a></li>
                     <li><a href="https://www.instagram.com/em3rkof/" class="external" target="_blank">Instagram</a></li>
                  </ul>
               </div>
               <div class="column_block">
                  <ul>
                     <li class="title">Contact</li>
                     <li class="address">6 P. Brovki Street, Minsk 220013 Belarus
                     </li>
                     <li>+375 29 796 29 32 </li>
                  </ul>
               </div>
            </div>
            <div class="column">
               <p>© 2015 – 2017 BSUIR ISP</p>
            </div>
         </div>
      </footer>
{% endblock %}