<!-- Login template use to LogIn or Register user -->
<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
      <link rel="stylesheet" href="{% static 'css/login.css' %}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
      <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
      <title>{% trans 'Login' %}</title>
   </head>
   <body>
      <div class="container">
         <div class="row">
            <div class="col-md-4 col-md-offset-4">
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h3 class="panel-title">{% trans 'Please sign in' %}</h3>
                  </div>
                  <div class="panel-body">
                     <form accept-charset="UTF-8" method="post" role="form" action="/login/" >
                        {% csrf_token %}
                        <fieldset>
                           <div class="form-group">
                              <input class="form-control" placeholder="Username" name="username" type="text">
                           </div>
                           <div class="form-group">
                              <input class="form-control" placeholder="Password" name="password" type="password" value="">
                           </div>
                           <p><a href="/register/">{% trans 'Register' %}</a></p>
                           <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                        </fieldset>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>
