<!-- Register template use to LogIn or Register user -->
<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
<html lang="en">
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
      <!-- Website CSS style -->
      <link rel="stylesheet" href="{% static 'css/register.css' %}">
      <!-- Website Font style -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
      <!-- Google Fonts -->
      <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
      <title>{% trans 'Register' %}</title>
   </head>
   <body>
      <div class="container">
         <div class="row main">
            <div class="panel-heading">
               <div class="panel-title text-center">
                  <h1 class="title"><a href="/">Trashes Controler</a></h1>
                  <hr/>
               </div>
            </div>
            <div class="main-login main-center">
               <form class="form-horizontal" method="post" id="register" action="/register/">
                  {% csrf_token %}
                  <div class="form-group">
                     <label for="name" class="cols-sm-4 control-label">{% trans 'Username' %}</label>
                     <div class="cols-sm-10">
                        <div class="input-group">
                           <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                           {{ form.username }}
                        </div>
                     </div>
                     {{ form.username.errors }}
                  </div>
                  <div class="form-group">
                     <label for="email" class="cols-sm-4 control-label">{% trans 'Your Email' %}</label>
                     <div class="cols-sm-10">
                        <div class="input-group">
                           <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                           {{ form.email }}
                        </div>
                     </div>
                      {{ form.email.errors }}
                  </div>
                  <div class="form-group">
                     <label for="password" class="cols-sm-4 control-label">{% trans 'Password' %}</label>
                     <div class="cols-sm-10">
                        <div class="input-group">
                           <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                           {{ form.password1 }}
                           </div>
                     </div>
                      {{ form.password1.errors }}
                  </div>
                  <div class="form-group">
                     <label for="confirm" class="cols-sm-4 control-label">{% trans 'Confirm Password' %}</label>
                     <div class="cols-sm-10">
                        <div class="input-group">
                           <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                           {{ form.password2 }}
                        </div>
                     </div>
                      {{ form.password2.errors }}
                  </div>
                  <div class="form-group ">
                     <button type="submit" class="btn btn-primary btn-lg btn-block login-button">{% trans 'Register' %}</button>
                  </div>
                  <div class="login-register">
                     <a href="/">{% trans 'Login' %}</a>
                  </div>
               </form>
            </div>
         </div>
      </div>
      <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
   </body>
</html>
