<!-- Restore template use to choice files and restore it from trash -->
{% extends "base.html" %}
{% load i18n %}
{% block site_title %} {{ title }} {% endblock %}
{% block site_content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
<div class="main-login main-center" style="max-width: 630px;">
   <h2>{{ status }}</h2>
   <form action="" method="post">
      {% csrf_token %}
        <input type="checkbox" name="dry-run" value="{{ True }}"/> Dry Run Mode
      <table class="table table-bordred table-striped">
         <thead>
            <th>
               {% trans 'File Name' %}
            </th>
            <th>
               {% trans 'File Restore Path' %}
            </th>
         </thead>
         {% for file, file_path in trash_content.items %}
         <tr>
            <td>
               <input type="checkbox" name="file" value="{{ file }}" /> {{ file }}
            </td>
            <td>
               {{ file_path }}
            </td>
         </tr>
         {% endfor %}
      </table>
      <div class="form-group">
         <label for="{{ form.solve_problem.id_for_label }}">{% trans 'Choose mode :' %}</label>
         <div>
            {{ form.solve_problem }}
         </div>
      </div>
      <button type="submit" class="btn btn-primary">{{ btn_name }}</button>
   </form>
</div>
{% endblock %}
