{% extends 'base.html' %}
{% load i18n %}
{% block site_title %}Trashes Controller{% endblock %}
{% block site_content %}
<div class="container">
   {% if username %}
   <div class="tab">
      <button class="tablinks" onclick="openTab(event, 'Trashes')">{% trans 'Trashes' %}</button>
      <button class="tablinks" onclick="openTab(event, 'Tasks')">{% trans 'Tasks' %}</button>
   </div>
   <div id="Trashes" class="tabcontent">
      <div class="container">
         <div class="row">
            <div class="col-md-11">
               <h4>{% trans 'Available Trashes' %}   <a href="{% url 'add_trash' %}"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-plus"></span></button></a></h4>
               <div class="table-responsive">

                   {% if trash_list %}

                <table id="mytable" class="table table-bordred table-striped">
                     <thead>
                        <th>{% trans 'Trash Name' %}</th>
                        <th>{% trans 'Path To Trash' %}</th>
                        <th>{% trans 'Add Date' %}</th>
                        <th>{% trans 'Status' %}</th>
                        <th>{% trans 'Details' %}</th>
                        <th>{% trans 'Delete' %}</th>
                     </thead>
                     <tbody>
                     {% for trash in trash_list %}
                        <tr>
                           <td>
                              {{ trash.trash_name }}
                           </td>
                           <td>
                              {{ trash.path_to_trash }}
                           </td>
                           <td>
                              {{ trash.add_date }}
                           </td>
                           <td>
                              {% if trash.is_valid %}
                              <p style="color: #1CA347">{% trans 'Available' %}</p>
                              {% else %}
                              <p style="color: red">{% trans 'Unavailable' %}</p>
                              {% endif %}
                           </td>
                           <td>
                              {% if trash.is_valid %}
                              <a href="{% url 'trash_detail' pk=trash.pk %}">
                                 <p data-placement="top" data-toggle="tooltip" title="Details"><button class="btn btn-primary btn-xs" data-title="Details"><span class="glyphicon glyphicon-pencil"></span></button></p>
                              </a>
                              {% else %}
                              <a href="#">
                                 <p data-placement="top" data-toggle="tooltip" title="Details Unavailable"><button class="btn btn-primary btn-xs" data-title="Details"><span class="glyphicon glyphicon-pencil"></span></button></p>
                              </a>
                              {% endif %}
                           </td>
                           <td>
                              <a href="{% url 'delete_trash' pk=trash.pk %}">
                                 <p data-toggle="tooltip" data-placement="top" data-original-title="Delete"><button class="btn btn-primary btn-xs" data-title="Delete"><span class="glyphicon glyphicon-trash"></span></button></p>
                              </a>
                           </td>
                        </tr>
                        {% endfor %}

                     </tbody>
                  </table>
               </div>
                   {% else %}
                       <p><b>There is no trash. Create it.</b></p>
                   {% endif %}
            </div>
         </div>
      </div>
   </div>
       
   <div id="Tasks" class="tabcontent">
      <div class="container">
         <div class="row">
            <div class="col-md-11">
               <div class="table-responsive">
               <form action="{% url 'delete_all_task' %}">
               {% csrf_token %}
                  <table id="mytable" class="table table-bordred table-striped">
                     <thead>
                        <th>{% trans 'Task' %}</th>
                        <th>{% trans 'Trash' %}</th>
                        <th>{% trans 'File' %}</th>
                        <th>{% trans 'Create Date' %}</th>
                        <th>{% trans 'Status' %}</th>
                        <th>{% trans 'Commit' %}</th>
                        <th>{% trans 'Action' %}</th>
                        <th>{% trans 'Delete' %}</th>
                     </thead>
                     <tbody>
                        {% for task in tasks_list %}
                        <tr>
                           <td>
                              {% if task.task == 0 %}
                              <p style="color: red">{% trans 'Delete' %}</p>
                              {% elif task.task == 1 %}
                              <p style="color: #1CA347">{% trans 'Restore With Rewrite' %}</p>
                              {% elif task.task == 3 %}
                              <p style="color: #1CA347">{% trans 'Restore Without Rewrite' %}</p>
                              {% elif task.task == 2 %}
                              <p style="color: rebeccapurple">{% trans 'Clean Trash' %}</p>
                              {% elif task.task == 4 %}
                              <p style="color: rebeccapurple">{% trans 'Remove File By Date Politic' %}</p>
                              {% endif %}
                           </td>
                           <td>
                              {{ task.trash.trash_name }}
                           </td>
                           <td>
                              {{ task.files }}
                           </td>
                           <td>
                              {{ task.create_date }}
                           </td>
                           <td>
                              {% if task.status == 0 %}
                              {% trans 'Completed' %}
                              {% elif task.status == 1 %}
                              {% trans 'Running' %}
                              {% elif task.status == 2 %}
                              {% trans 'Waiting' %}
                              {% endif %}
                           </td>
                           <td>
                              {{ task.commit }}
                           </td>
                           <td>
                               {% if task.status == 0 %}
                              <b>{% trans 'Done' %}</b>
                              {% elif task.status == 2 %}
                              <a href="{% url 'run_task' pk=task.pk %}" style="color: #1CA347"><i class="fa fa-caret-square-o-right" aria-hidden="true"></i></a>
                              {% endif %}
                           </td>
                            <td>
                                <a href="{% url 'delete_task' pk=task.pk %}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
                   {% if tasks_list %}
                       <button class="btn btn-success" type="submit">{% trans 'Delete Task' %}</button>
                       <a href="{% url 'run_all_task' %}"> Run All Task</a>
                   {% endif %}
               </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endif %}
{% endblock %}
