{% extends "base.html" %}
{% load trash_extras %}
{% load i18n %}
{% block site_title %}Trash Detail{% endblock %}
{% block site_content %}
<div class="content container">
   <h2>{% trans 'Trash Details' %}</h2>
</div>
<div class="content container">
   <div class="row">
      <div class="col-md-9" style="display: inline-flex">
         <table class="table table-striped" border="3" bgcolor="black" cellpadding="0" cellspacing="0"  style=" table-layout: fixed; float:left; margin:0 9px 0 0;">
            <thead></thead>
            <tbody>
               <div>
                  <tr>
                     <td>
                        {% trans 'Trash name' %}
                     </td>
                     <td>
                        <p>{{ trash.trash_name }}</p>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <p>{% trans 'Path to Trash' %}</p>
                     </td>
                     <td>
                        <p>{{ trash.path_to_trash }}</p>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <p>{% trans 'Max size that trash can keep' %}</p>
                     </td>
                     <td>
                        <p>{{ trash.path_to_trash | get_trash_size }} / {{ trash.trash_max_size }} MB</p>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <p>{% trans 'Max files count that trash can keep' %}</p>
                     </td>
                     <td>
                        <p>{{ trash.path_to_trash | get_trash_count }} / {{ trash.trash_max_count }}</p>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <p>{% trans 'Max hours that files will be keep in your trash' %}</p>
                     </td>
                     <td>
                        <p>{{ trash.trash_max_hours }} H {% trans '- use this value for "Clean by date"' %}</p>
                     </td>
                  </tr>
                   <tr>
                       <td>
                           <p>{% trans 'Delete by date politic' %}</p>
                       </td>
                       <form id="date-politic" method="post">
                            {% csrf_token %}
                           <td>
                               {% if trash.date_politic %}
                               <a onclick="document.getElementById('date-politic').submit();" ><p style="color: #1CA347"> {% trans 'ON' %} </p></a>
                               {% else %}
                                   <a onclick="document.getElementById('date-politic').submit();"><p style="color: red"> {% trans 'OFF' %} </p></a>
                               {% endif %}
                           </td>
                       </form>
                  </tr>
               </div>
            </tbody>
         </table>
      </div>
      <div class="col-md-3 center-block" >
         <div class="btn-group-vertical" role="group">
            <a class="btn btn-default" href="{% url 'trash_edit' pk=trash.pk %}" style="height: 38px; width: 155px"><span class="glyphicon glyphicon-pencil"> {% trans ' Edit settings' %}</span></a>
            <a class="btn btn-default" href="{%  url 'delete' pk=trash.pk %}" style="height: 38px; width: 155px"><span class="glyphicon glyphicon-trash"> {% trans 'Delete files' %}</span></a>
            <a class="btn btn-default" href="{% url 'restore_files' pk=trash.pk %}" style="height: 38px; width: 155px"><span class="glyphicon glyphicon-refresh"> {% trans 'Restore files' %}</span></a>
            <a class="btn btn-default" href="{% url 'clean_trash' pk=trash.pk %}" style="height: 38px; width: 155px"><span class="glyphicon glyphicon-minus"> {% trans 'Clean Trash' %}</span></a>
            <a class="btn btn-primary" href="#trashContent" data-toggle="modal" style="height: 38px; width: 155px"><span class="glyphicon glyphicon-remove"> {% trans 'Trash Content' %} </span></a>

         </div>
         <div class="btn-group-vertical" role="group">
            <h1> </h1>
            <a class="btn btn-default" href="{% url 'add_restore_task' pk=trash.pk %}" style="height: 38px; width: 195px"><span class="glyphicon glyphicon-plus"> {% trans 'Add Restore Tasks' %}</span></a>
            <a class="btn btn-default" href="{% url 'add_delete_task' pk=trash.pk %}" style="height: 38px; width: 195px "><span class="glyphicon glyphicon-plus"> {% trans 'Add Delete Tasks' %}</span></a>
         </div>
      </div>
      <div id="trashContent" class="modal fade">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h4 class="modal-title">{% trans 'Trash Content' %}</h4>
               </div>
               <div class="modal-body">
                  <table id="mytable" class="table table-bordred table-striped">
                     <thead>
                        <th>{% trans 'File Name' %}</th>
                        <th>{% trans 'File Restore Path' %}</th>
                     </thead>
                     <tbody>
                        {% for file_name, file_path in trash_content.items %}
                        <tr>
                           <td>
                              {{ file_name }}
                           </td>
                           <td>
                              {{ file_path }}
                           </td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
