{% extends 'base.html' %}
{% load i18n %}
{% block site_title %} User Cabinet {% endblock %}
{% block site_content %}
{% load staticfiles %}
<div class="container">
   <div class="jumbotron">
      <div class="row">
         <div class="col-md-3 col-xs-12 col-sm-6 col-lg-3">
            <div class="thumbnail text-center photo_view_postion_b" >
               <img src="{% static 'img/phono_404.jpg' %}" alt="stack photo" class="img">
            </div>
         </div>
         <div class="col-md-9 col-xs-12 col-sm-6 col-lg-9">
            <div class="" style="border-bottom:1px solid black">
               <h2>{{ user.username }}</h2>
            </div>
            <hr>
            <div class="col-md-8">
               <ul class=" details">
                  <li>
                     <p><span class="glyphicon glyphicon-earphone one" style="width:50px;"></span>+375 29 796 32 97</p>
                  </li>
                  <li>
                     <p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>{{ user.email }}</p>
                  </li>
                  <li>
                     <p><span class="glyphicon glyphicon-map-marker one" style="width:50px;"></span>{% trans 'Minsk' %}</p>
                  </li>
                  <li>
                     <p><span class="glyphicon glyphicon-refresh one" style="width:50px;"></span><a href="{% url 'change_password' %}">{% trans 'Change Password' %}</a></p>
                  </li>
                   <li>
                       <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                        <select name="language">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                    {{ language.name_local }} ({{ language.code }})
                                </option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="Go" />
                      </form>
                   </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
